<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<title>FileIndex: {{.Title}}</title>
</head>

<body>

    <div w3-include-html="/web/layout/navigation.html"></div>

    <table id="example" class="display" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Volume</th>
                <th>Path</th>
                <th>Name</th>
                <th>Modified</th>
                <th>Size</th>
                <th>SHA256</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Volume</th>
                <th>Path</th>
                <th>Name</th>
                <th>Modified</th>
                <th>Size</th>
                <th>SHA256</th>
            </tr>
        </tfoot>
    </table>

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/include-html.js" type="text/javascript"></script>

    <script type="text/javascript">
          // Make string formatting easier.

          String.prototype.format = function() {
            a = this;
            for (k in arguments) {
              a = a.replace("{" + k + "}", arguments[k])
            }
            return a
          }

          // Tranform contents of table cell.

          function createLink(type, uri, data) {
            result = data
            if (type === 'display') {
              result = '<a href="{0}/{1}">{2}</a>'.format(uri, encodeURIComponent(data), data)
            }
            return result;
          }

          // Initialize table.

          $(document).ready(function() {

            // Define table.

            var table = $('#example').DataTable({
              "ajax" : '{{.ApiUrl}}',
              "columns" : [ {
                "data" : "id",
                "render" : function(data, type, row, meta) {
                  return createLink(type, "/web/id", data);
                }
              }, {
                "data" : "volume",
                "render" : function(data, type, row, meta) {
                  return createLink(type, "/web/volume", data);
                }
              }, {
                "data" : "path",
                "render" : function(data, type, row, meta) {
                  return createLink(type, "/web/path", data);
                }
              }, {
                "data" : "name",
                "render" : function(data, type, row, meta) {
                  return createLink(type, "/web/name", data);
                },
              }, {
                "data" : "modified",
                "render" : function(data, type, row, meta) {
                  result = data
                  if (type === 'display') {
                    dateObj = new Date(data * 1000);
                    result = '<a href="/web/modified/{0}">{1}</a>'.format(encodeURIComponent(data), dateObj.toISOString(dateObj));
                  }
                  return result;
                }
              }, {
                "data" : "size",
                "render" : function(data, type, row, meta) {
                  return createLink(type, "/web/size", data);
                }
              }, {
                "data" : "sha256",
                "render" : function(data, type, row, meta) {
                  result = data
                  if (type === 'display') {
                    result = '<a href="/web/sha256/{0}">{1}...</a>'.format(encodeURIComponent(data), data.substring(0,12));
                  }
                  return result;
                }
              } ],
              "lengthMenu": [50, 100, 200],
              "pageLength": 50,
              "processing" : true,
              "saveState": true,
              "scrollY": "80vh",
              "serverSide" : true
            });
          });
        </script>

    <script type="text/javascript">
          includeHTML();
        </script>
</body>
</html>
